body{
    background-color:#D5E1FC;
    display: flex;
    justify-content: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
h1{
    color:black;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;

}
p{
    color:gray;
    text-align: center;
    font-size: 12px;
    margin-top: 0px;
    margin-left: 40px;
    margin-right: 40px;
}

.father{
    background-color:white;
    border-radius: 20px;
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 10px 10px 3px rgba(100, 134, 149, 0.1)
}

img{
    display: flex;
    width: 300px;
    height: auto px;
    margin-left: -40px;
    
 
}

.fa-music{
    display: flex;
    color: #757FA2;
    background-color:#DDE5F9;
    border-radius: 50px;
    padding: 10px;
    margin: 20px;
    margin-left:30px ;
    font-size: 15px;

}
.Annualplan{
    display: flex;
    flex-direction: column;
    margin-top: -20px;
}

.plan{
display: flex;
color: black;

}


